@import "partials/settings";
@import "../bower_components/foundation/scss/foundation";

// General Styles

$lightBlue: #8EC5C5;
$body_gray: #5B5B5B;
$nav_header_buttonShadow_gray: #2D2D2D;

.bold {

  font-weight: 700;

} 


// End of General Styles

// Specific Styles

header {

  background-image: url('/images/header_bg.png');
  background-color: $lightBlue;
  text-align: center;
  padding-top: 50px;

  @media #{$small-only}{
    padding-top: 5px;
    background-image: none;
  }

  div#logo{

    background-image: url('/images/logo.png');
    width: 154px;
    height: 76px;
    display: block;
    margin: auto;
    @media #{$small-only}{
      display: none;
    }

  }

  h1.title {
    display: inline-block;
    margin: 5px auto 30px auto;
    font-weight: 300;
    font-size: 25px;
  }




  nav.top-bar {

    @media #{$medium-up}{

      border-radius: 5px;
      margin-bottom: -2.5%;
        
    }


    ul.title-area {
      background-color: blue;


      @media #{$small-only}{
        display: inline-block;
        width: 150px;
          
      }

      li.toggle-topbar {
        display: inline-block;
        background-color: yellow;

      }

    }


    section.top-bar-section{
      
      // background-color: yellow;
      width: 100%;
      
      ul.right{
        @media #{$medium-up}{

            width: 100%;
            text-align: center;
            // background-color: red;
        
        }

        li{
            @media #{$medium-up}{

              display: inline-block;
              float: none;

            }

          a{
            // background-color: green;
            &:hover {
              font-weight: 400;
            }

          }
        }

      }

    }//section.top-bar-section


  }//nav.top-bar


}

